[user]
	name = Ethan Baik
	email = sakithree@gmail.com
[core]
	editor = nvim
	excludesFile = /home/ethan/.gitignore
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	sw = switch
	up = rebase
	hist = log --pretty=format:'%C(auto)%h%Creset - %Cgreen%ad%Creset | %Cblue%an%Creset : %s' --graph --color=always --date=short
	l = log --pretty=format:'%C(auto)%h%Creset - %s %Cgreen(%ad) %Cblue<%an>%C(auto)%d%Creset' --graph --color=always --date=relative --all
[init]
	defaultBranch = main
